<section class="page-container">
    <div class="page-content">
        <ion-icon class='bg-secondary' name="contact"></ion-icon>
        <form action="/users/auth" method="POST">
            <div class="form-group">
                <input type="text" name="username" autocomplete="username" placeholder="Username:" class="form-control">
            </div>
            <div class="form-group">
                <input type="password" autocomplete="current-password" name="password" placeholder="Password:"
                    class="form-control">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">LogIn</button>
            </div>
        </form>
        <a href="/register">Create account</a>
    </div>
</section>